<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <!-- Instructs IIS to route all requests through iisnode to server.js -->
      <add name="iisnode" path="server.js" verb="*" modules="iisnode" />
    </handlers>
    <rewrite>
      <rules>
        <!-- Route all requests to server.js unless it points to a physical file -->
        <rule name="DynamicContent">
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="True" />
          </conditions>
          <action type="Rewrite" url="server.js" />
        </rule>
      </rules>
    </rewrite>
    <!-- Disable IIS native WebSockets to allow iisnode/Node.js to handle the protocol upgrade -->
    <webSocket enabled="false" />
    <directoryBrowse enabled="false" />
  </system.webServer>
</configuration>
